body {font-family: "Verdana", "Arial", "Helvetica", sans-serif}
hr {color: green; background-color: green; height: 3px; clear: left}
.pagetitle {font-size: 30px; margin: 0}
.tagline {margin: 2px; font-style: italic}
p {font-size: 13px}
img.hyper {border: none}
a:link {color: blue}
a:visited {color: green}
a:hover {color: coral}
#topnav {margin-bottom: -8px}
#list {position: absolute; left: 98px}
#bnav {margin: 0px; text-align: center}
#copy {background-color: lightgreen; width: 4.04in}
#mypic {float: left; padding-bottom: 12px; padding-right: 8px}
#abouttitle {position: absolute; left: 50%; font-weight: bold; font-style: oblique; font-size: 25px; color: darkgreen}
#body {font-size: 13px; position: relative; top: 40px}