body {
    font-family: Verdana, Arial, Helvetica, sans-serif
}
.container {
    background-color: dodgerblue;
    padding: 5px
}
.nav-row {
    display: flex;
    align-items: center
}
a:link.brand {
    color: #fff;
    font-size: 20px;
    text-decoration: none
}
a:visited.other-nav-links {
    color: lightgray
}
a:visited.brand {
    color: #fff
}
#project-link {
    margin: 8px 0 8px 0
}
#submit-link {
    margin: 8px 0 8px 0
}
a:link {
    color: lightgrey;
    font-size: 15px;
    text-decoration: none
}
.btn {
    background-color: dodgerblue;
    border-color: #fff;
    border-style: ridge;
    color: #fff;
    padding: 5px;
    font-size: 15px
}
.col-1 {
    width: 90%;
    flex: 1;
    display: inline-flex;
    align-self: center
}
.main {
    background-color: lightgray;
    max-width: 1000px;
    margin: 40px auto 0 auto;
    padding: 40px 20px 40px 20px
}
#welcome-btn1 {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: #fff;
    padding: 5px;
    font-size: 15px
}
#welcome-btn2 {
    background-color: dimgrey;
    border-color: dimgray;
    color: #fff;
    padding: 5px;
    font-size: 15px
}
.call-outs-container {
    max-width: 1046px;
    padding: 0%;
    margin: 40px auto 60px auto;
    display: flex;
    justify-content: space-between
}
small {
    color: gray
}
.call-out {
    padding: 5px 20px 5px 20px;
    border-style: ridge;
    box-sizing: border-box;
    border-color: lightgray;
    flex-basis: 23%
}
.call-out:nth-child(1) {order: 4}
.call-out:nth-child(2) {order: 3}
.call-out:nth-child(3) {order: 2}
.call-out:nth-child(4) {order: 1}
.hash {
    margin-bottom: 10px;
    color: dodgerblue
}
#copy {
    margin: 40px auto 0 auto;
    max-width: 1046px;
    box-sizing: border-box;
    background-color: lightgray;
    padding: 10px
}

/*Login Page*/

.container-form {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0px 0px 10px 350px;
    padding: 20px
}
.form-para {
    margin-bottom: 10px
}
.form-para2 {
    margin-top: 0px;
    margin-bottom: 10px
}
#login-copy {
    margin: 5px auto 0 auto;
    max-width: 1046px;
    box-sizing: border-box;
    background-color: azure;
    padding: 10px
}
.login-submit {
    background-color: dodgerblue;
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-size: 15px;
    border-style: none
}

/* Register */

.container-register {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0px auto 10px auto;
    padding: 20px;
}
.row {
    display: flex;
}
.col-reg1 {
    flex-basis: 50%
}
.col-reg2 {
    flex-basis: 50%;
}
.form-para3 {
    margin-top: 0px;
    margin-bottom: 10px
}
.form-para4 {
    margin-top: 15px;
    margin-bottom: 10px
}
.form-para5 {
    margin-top: 0px;
    margin-bottom: 10px
}
.form-para6 {
    margin-top: 0px;
    margin-bottom: 10px
}
.form-para7 {
    margin-top: 0px;
    margin-bottom: 10px
}
.matric-grad {
    display: flex
}
.col-matric {
    flex: 1
}
.col-grad {
    flex: 1
}

/* Profile Page */

#main-profile {
    max-width: 1000px;
    box-sizing: border-box;
    background-color: lightgray;
    margin: 0px auto 40px auto;
    padding: 5px 20px 5px 20px;
    display: flex;
}
#col-prog {
    font-size: 15px;
    flex: 1
}
#col-matric {
    font-size: 15px;
    flex: 1
}
#grad-year {
    font-size: 15px;
    flex: 1
}
#col-reg1 {
    flex: 1
}
#col-reg2 {
    flex: 1
}
#col-reg3 {
    flex: 1
}
#row-change-password {
    max-width: 1000px;
    margin: 0px auto 0 auto;
    display: flex;
}

/* Search Page */

.search-main {
    background-color: lightgray;
    max-width: 1000px;
    margin: 30px auto 0 auto;
    padding: 10px 20px 10px 20px
}
.row-search {
    background-color: lightgray;
}

/* Create Project Page */

#main-create-project {
    margin: 40px auto 0 30%
}

/* Edit Project Page */

#view-project {
    padding-top: 5px;
    font-size: 15px;
    flex: 1;
    text-align: right
}
.container-edit {
    max-width: 1000px;
    margin: 40px auto 0 auto
}
.row-edit {
    display: flex
}
.col-edit {
    flex: 1
}
.col-manage {
    flex: 1
}